.navbar {
  display: flex;
  padding: 5px;
  background-color: dimgray;

  justify-content: space-between;
  align-items: center;

  .navbar-title {
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
    font-size: xx-large;
  }
}
